body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

embed {
    width: 100vw !important;
    height: 100vh;
}

div {
    overflow: hidden;
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
    height: 100% !important;
    border: 1px #222 solid;
}

iframe {
    min-width: 100vw;
    height: 100vh;
    border-right: 5px #222 solid;
}
