body {
    margin: 0;
    padding: 0;
}

embed {
    width: 100vw !important;
    height: 50vh;
}

div {
    overflow: hidden;
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
    height: 100% !important;
}

iframe {
    min-width: 200vw;
    height: 50vh;
}
