body {
    margin: 0;
    padding: 0;
}

embed {
    min-width: 200vw !important;
    height: 100vh !important;
}

div {
    overflow: hidden;
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
    height: 100% !important;
}
